<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>Signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateGroup</servlet-name>
        <servlet-class>AdminCreateGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDelete</servlet-name>
        <servlet-class>AdminDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteGroup</servlet-name>
        <servlet-class>AdminDeleteGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminModifyGroup</servlet-name>
        <servlet-class>AdminModifyGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorAddPublish</servlet-name>
        <servlet-class>ProfessorAddPublish</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentGroups</servlet-name>
        <servlet-class>StudentGroups</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentView</servlet-name>
        <servlet-class>StudentView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorMain</servlet-name>
        <servlet-class>ProfessorMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorModifyPublish</servlet-name>
        <servlet-class>ProfessorModifyPublish</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorDeletePublish</servlet-name>
        <servlet-class>ProfessorDeletePublish</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/Signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateGroup</servlet-name>
        <url-pattern>/AdminCreateGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDelete</servlet-name>
        <url-pattern>/AdminDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteGroup</servlet-name>
        <url-pattern>/AdminDeleteGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminModifyGroup</servlet-name>
        <url-pattern>/AdminModifyGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorAddPublish</servlet-name>
        <url-pattern>/ProfessorAddPublish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentGroups</servlet-name>
        <url-pattern>/StudentGroups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentView</servlet-name>
        <url-pattern>/StudentView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorMain</servlet-name>
        <url-pattern>/ProfessorMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorModifyPublish</servlet-name>
        <url-pattern>/ProfessorModifyPublish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorDeletePublish</servlet-name>
        <url-pattern>/ProfessorDeletePublish</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
